<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  
  <h1> Properties available for your selected dates </h1>

  <form action="/book/results" method="post">
    <input type="submit" name="Book" value="Book">
    <label for="start_date">Start date:</label>
      <input type="date" name="start_date">

      <label for="end_date">End date:</label>
      <input type="date" name="end_date">

      <input type="submit" value="Search">
  </form>

</body>
</html>