  
  <h1> Properties available for your selected dates </h1>

  <div>
    <% @results.each do |venue| %>
    <%= venue.name %>
    <%= venue.address %>
    <%= venue.ppn %>
    <%= venue.description %>
    <% end %>
  </div>
