    <div style = "margin-bottom: 1em"> Welcome to the wonderful world of MakersBNB! The place where you can choose from a vast range of venues!</div>
    <a class="btn btn-dark" href="/signin">Sign in</a>
    <a class="btn btn-dark" href="/signup">Sign up</a>
