<!doctype html>
<html lang="en">
  <center>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="bnb.css" type='text/css'>
  </head>
<body style = "margin-top: 3em"><img src="https://payload.cargocollective.com/1/10/344894/7971619/MakersBnB_40_1340_c.png" width="300em" height="45.45em">
  <div style = "margin-top: 3em">
    <%= yield %>
  </div>
</body>
  </center>
